/* Reset dan Style dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #aeb4b2;
  color: #545050;
}

img {
    width: 30%; 
    height: auto; 
}
/* Header */
header {
  background-color: #aeb4b2;
  color: #fff;
  padding: 20px 0;
}

header .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2em;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #f1c40f;
}

/* Menu Section */
.menu {
  background-color: #cdddde;
  padding: 40px 0;
}

.menu h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 30px;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 0 10%;
}

.menu-item {
  text-align: center;
  background-color: #0f0f0f;
  border: 2px solid #292222;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item img {
  width: 50%;
  height: 100px;
  object-fit: cover;
}

.menu-item h3 {
  font-size: 1.8em;
  margin: 10px 0;
}

.menu-item p {
  font-size: 1.2em;
  color: #e74c3c;
}

/* Footer */
footer {
  background-color: #949494;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 1em;
}